<?xml version='1.0' encoding='utf-8'?>
<widget id="com.lgarin211.CoreView" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>BCD MOBILE</name>
    <description>APLIKASI BCD MOBILE</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-navigation href="https://afergus.live/*" />
    <allow-navigation href="https://*.lahoras.my.id/*" />
    <allow-navigation href="https://*.lahoras.my.id/*" />
    <allow-navigation href="https://demortb.lahoras.my.id/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <icon src="res/icon.png" />
</widget>
